* {
  margin: 0;
  padding: 0; }

footer {
  background-color: #081c15;
  width: 100%;
  margin-top: auto; }

p.footerlinks {
  font-size: 12px;
  padding: 10px; }

.footerLinks a {
  color: #b8e1dd;
  text-decoration: none;
  padding: 5px 10px; }

.footerContainer {
  padding: 10px 20px;
  font-size: 12px; }

.footerLinks a:hover {
  color: #0e7a70;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; }

.footer-ext {
  background-size: cover;
  height: 13vh;
  background-image: url("../media/footerextbg2.svg"); }

.form {
  border: 3px solid #e9ecef;
  background-color: rgba(6, 41, 37, 0.8);
  padding: 10px;
  border-radius: 10px; }

.form-control {
  margin-right: 1rem; }
  .form-control:focus {
    color: #081c15;
    background-color: #b8e1dd;
    outline: 0;
    box-shadow: 0 0 0 0.2rem transparent; }

.form-inline {
  flex-flow: row-reverse; }

.newform {
  padding: 30px;
  background: #081c15;
  border-radius: 10px; }

.newform input {
  width: 100%;
  height: 100%;
  border: none;
  color: #044a42;
  padding-top: 20px;
  outline: none; }

.newform select {
  width: 100%;
  height: 100%;
  color: #081c15;
  border: none;
  color: #044a42;
  padding-top: 20px;
  outline: none; }

.newform label {
  position: absolute;
  margin: 0px;
  bottom: 0px;
  width: 100%;
  height: 100%;
  pointer-events: none;
  overflow: hidden; }

.newform label::after {
  content: "";
  position: absolute;
  left: 0px;
  bottom: -1px;
  border-bottom: 3px solid #0e7a70;
  transform: translateX(-100%);
  width: 100%;
  height: 100%;
  transition: all 0.3s ease;
  overflow: hidden; }

.content-name {
  position: absolute;
  bottom: 5px;
  color: grey;
  left: 5px;
  transition: all 0.3s ease; }

.newform input:focus + .label-name .content-name,
.newform input:valid + .label-name .content-name,
.newform select:focus + .label-name .content-name,
.newform select:valid + .label-name .content-name {
  transform: translateY(-100%);
  font-size: 12px;
  color: #0e7a70; }

.newform input:focus + .label-name::after,
.newform input:valid + .label-name::after,
.newform select:focus + .label-name::after,
.newform select:focus + .label-name::after {
  transform: translateX(-0.6rem); }

header {
  top: 0;
  height: auto; }

.dropdown-item {
  color: #e9ecef; }

.dropdown-menu {
  margin-left: 30px;
  left: auto;
  color: #e9ecef;
  background: rgba(0, 0, 0, 0.8);
  font-family: "Ubuntu";
  transition: all 0.3s ease; }
  .dropdown-menu:hover {
    text-decoration: none;
    color: #b8e1dd;
    display: flex;
    flex-direction: column; }

.dropdown-item:focus,
.dropdown-item:hover {
  text-decoration: none;
  color: #b8e1dd;
  background-color: #044a42; }

.navbar-nav li:hover > ul.dropdown-menu {
  display: flex;
  flex-direction: column; }

.dropdown-item.active,
.dropdown-item:active {
  background-color: #044a42;
  color: #b8e1dd;
  padding: 2px 15px; }

.dropdown:hover > .dropdown-menu {
  display: block; }

a:hover {
  text-decoration: none; }

.nav-ext {
  height: 1vh;
  background-size: cover;
  height: 10vh;
  background-image: url("../media/navextbg2.svg"); }

h1 {
  font-size: 30px; }
  @media screen and (min-width: 768px) {
    h1 {
      font-size: 40px; } }
  @media screen and (min-width: 1024px) {
    h1 {
      font-size: 50px; } }

.responsive-p {
  font-weight: none;
  font-size: 13px; }
  @media screen and (min-width: 768px) {
    .responsive-p {
      font-size: 16px; } }
  @media screen and (min-width: 1024px) {
    .responsive-p {
      font-size: 18px; } }

.input-search {
  height: 1.5rem;
  font-family: "Ubuntu"; }

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 4px solid #081c15;
  background-color: #e9ecef;
  border-radius: 50%;
  width: 90px;
  height: 90px; }
  @media screen and (min-width: 768px) {
    .logo {
      width: 120px;
      height: 120px; } }
  @media screen and (min-width: 1024px) {
    .logo {
      width: 150px;
      height: 150px; } }

.logoBackground {
  background-color: #e9ecef;
  background-color: #081c15;
  padding: 10px; }

ul {
  list-style-type: none;
  background-color: #081c15;
  display: inline-block;
  text-align: center;
  vertical-align: center; }

ul li {
  float: none; }

li a {
  display: block;
  color: #e9ecef;
  text-align: center;
  padding: 2px 40px;
  text-decoration: none;
  overflow: hidden;
  border-radius: 25px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; }
  li a:hover {
    background-color: #044a42;
    color: #b8e1dd; }

body {
  background-color: #e9ecef;
  font-family: "Ubuntu";
  min-height: 100vh; }

.company {
  text-align: center;
  color: #b8e1dd; }

.container {
  border-radius: 5px;
  padding: 10vh 4vh; }

.containerCenter {
  justify-content: center; }

label {
  color: #e9ecef; }

input[type="submit"] {
  background-color: #0e7a70;
  color: #e9ecef;
  padding: 10px 15px;
  border: none;
  cursor: pointer; }
  input[type="submit"]:hover {
    background-color: #044a42; }

.material-icons {
  vertical-align: middle; }

.navbar {
  background-color: #081c15;
  font-family: "Cinzel Decorative"; }

.navbar-buttons {
  justify-content: center; }

.collapse:not(.show) {
  display: block; }

.navbar-light .navbar-brand {
  color: #e9ecef;
  margin: 0px 10px;
  padding: 0px 30px;
  font-size: 1rem; }

.navbar-brand {
  display: inherit;
  border: 2px solid rgba(0, 0, 0, 0); }

a:not([href]):hover {
  color: #0e7a70;
  text-decoration: none; }

.card {
  border: transparent;
  background-color: #e9ecef;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; }
  .card:hover {
    border: 2px solid #0e7a70;
    background-color: #b8e1dd; }

.navbar-collapse {
  flex-grow: initial; }

.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand:hover {
  border-radius: 25px;
  color: #b8e1dd; }

.active {
  border: 2px solid #0e7a70;
  padding: 0px 30px;
  border-radius: 25px; }

.sticky-top {
  position: relative; }

.indexBackground {
  background-image: url("../media/indexbg.svg");
  height: 70vh;
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }
  @media screen and (min-width: 768px) {
    .indexBackground {
      height: 90vh; } }
  @media screen and (min-width: 1024px) {
    .indexBackground {
      height: 100vh; } }

.indexBackgroundText {
  background-color: rgba(0, 0, 0, 0.8);
  color: #e9ecef;
  border: 3px solid #e9ecef;
  position: absolute;
  width: 80%;
  padding: 20px;
  margin: 10px;
  text-align: center;
  animation: myAnim 1s ease 0s 1 normal forwards; }

.indexTitle {
  font-family: "Cinzel Decorative";
  font-size: 10vw; }
  @media screen and (min-width: 768px) {
    .indexTitle {
      font-size: 7vw; } }
  @media screen and (min-width: 1024px) {
    .indexTitle {
      font-size: 500%; } }

.indexSubTitle {
  font-family: "Cinzel Decorative";
  font-weight: normal;
  margin-bottom: 10px;
  font-size: 4vw; }
  @media screen and (min-width: 768px) {
    .indexSubTitle {
      font-size: 3vw; } }
  @media screen and (min-width: 1024px) {
    .indexSubTitle {
      font-size: 2vw; } }

.cb-link {
  color: #721c24;
  font-weight: bold; }

.btn-dark, .btn-search {
  background-color: #044a42;
  border: none; }

.btn-search {
  padding: 0; }

@media screen and (min-width: 576px) {
  .btn-dark, .btn-search {
    color: #e9ecef; }
  .btn-search {
    background-color: #044a42;
    padding: 0.1rem;
    border-radius: 25%;
    border-color: #081c15; } }

@media screen and (min-width: 768px) {
  .btn-dark, .btn-search {
    color: #e9ecef;
    background-color: rgba(0, 0, 0, 0);
    border: none; }
  .btn-search {
    padding: 0.1rem;
    border-radius: 25%;
    border-color: #081c15; } }

.btn-dark:hover, .btn-search:hover,
.btn-search:hover {
  background-color: #044a42;
  color: #b8e1dd; }

.jumbotron {
  padding: 0;
  margin-bottom: 0;
  border-radius: 0.3rem; }

@media screen and (min-width: 768px) {
  ul li {
    float: left; }
  .sticky-top {
    position: sticky; } }

@media screen and (min-width: 1024px) {
  ul li {
    float: left; } }

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 4px 4px; }

.column {
  flex: 25%;
  max-width: 33.3%;
  padding: 0 4px; }

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
  filter: grayscale(1) brightness(0.4);
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s linear; }
  .column img:hover {
    filter: grayscale(0); }

@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%; } }

@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%; }
  .column img {
    filter: grayscale(0) brightness(1); } }

@keyframes myAnim {
  0% {
    transform: scale(0.5);
    transform-origin: 50% 100%; }
  100% {
    transform: scale(1);
    transform-origin: 50% 100%; } }

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.bounceIn {
  -webkit-animation-name: bounceIn;
  animation-name: bounceIn;
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

.toolIcon {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10rem;
  height: 10rem; }

.toolIcon-left {
  display: block;
  margin: 10px;
  width: 5rem;
  height: 5rem; }

.clean-bg {
  background-color: #e9ecef; }

@-webkit-keyframes bounceIn {
  0%,
  20%,
  40%,
  60%,
  80%,
  100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3); }
  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1); }
  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9); }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03); }
  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
    transform: scale3d(0.97, 0.97, 0.97); }
  100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); } }

@keyframes bounceIn {
  0%,
  20%,
  40%,
  60%,
  80%,
  100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3); }
  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1); }
  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9); }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03); }
  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
    transform: scale3d(0.97, 0.97, 0.97); }
  100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); } }
