* {
  margin: 0;
  padding: 0; }

footer {
  background-color: #081c15;
  width: 100%;
  margin-top: auto; }

.footerlinks {
  padding: 10px; }

.footerLinks a {
  color: #b8e1dd;
  text-decoration: none;
  padding: 5px 10px; }

.footerContainer {
  padding: 10px 20px;
  font-size: 12px; }

.footerLinks a:hover {
  color: #0e7a70; }

.form {
  border: 3px solid #e9ecef;
  background-color: rgba(6, 41, 37, 0.9);
  padding: 10px;
  border-radius: 10px; }

.form-control {
  margin-right: 1rem; }

.form-control:focus {
  color: #495057;
  background-color: #e9ecef;
  outline: 0;
  box-shadow: 0 0 0 0.2rem #0e7a70; }

.form-inline {
  flex-flow: row-reverse; }

header {
  top: 0;
  height: auto; }

.searchContainer button {
  float: left;
  padding: 2px 4px;
  background: #ccc;
  font-size: 14px;
  margin: 5px;
  border: #111; }

.searchContainer input[type="text"] {
  border: 1px solid #ccbcdb;
  font-size: 16px;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 30%;
  justify-content: flex-start; }

.searchContainer button:hover {
  background: #b8e1dd; }

.searchContainer {
  background-color: #081c15; }

.input-search {
  height: 1.5rem;
  font-family: "Ubuntu"; }

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 4px solid #081c15;
  background-color: #e9ecef;
  border-radius: 50%;
  width: 90px;
  height: 90px; }

.logoBackground {
  background-color: #e9ecef;
  padding: 10px; }

ul {
  list-style-type: none;
  overflow: hidden;
  background-color: #081c15;
  display: inline-block;
  text-align: center;
  vertical-align: center; }

ul li {
  float: none; }

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 2px 40px;
  text-decoration: none;
  overflow: hidden; }

li a:hover {
  background-color: #044a42; }

body {
  background-color: white;
  font-family: "Ubuntu";
  min-height: 100vh; }

.company {
  text-align: center;
  color: #b8e1dd; }

.principal {
  padding-top: 20px;
  margin-top: 30px; }

.container {
  border-radius: 5px;
  padding: 20px; }

.contactContainer {
  text-align: center;
  margin: auto;
  width: 35%; }

.containerCenter {
  justify-content: center; }

label {
  color: white; }

input[type="submit"] {
  background-color: #0e7a70;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer; }

input[type="submit"]:hover {
  background-color: #044a42; }

.btn-dark {
  color: #fff;
  background-color: #0e7a70;
  border-color: #0e7a70; }

.btn-search {
  background-color: transparent;
  padding: 0.1rem;
  border-radius: 25%;
  border-color: #081c15; }

.btn-search:hover {
  background-color: #044a42;
  color: #b8e1dd;
  color: #e9ecef; }

.material-icons {
  vertical-align: middle; }

.navbar {
  background-color: #081c15;
  font-family: "Cinzel Decorative"; }

.navbar-buttons {
  justify-content: center; }

.collapse:not(.show) {
  display: block; }

.navbar-light .navbar-brand {
  color: #e9ecef;
  margin: 0px 10px;
  padding: 0px 30px;
  font-size: 1rem; }

.navbar-brand {
  display: inherit;
  border: 2px solid rgba(255, 255, 255, 0); }

a:not([href]):hover {
  color: #0e7a70;
  text-decoration: none; }

.card:hover {
  border: 2px solid #0e7a70; }

.galeryContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly; }

div.gallery {
  margin: 5px;
  border: 1px solid #e9ecef;
  float: left;
  width: 180px;
  background-color: #b8e1dd; }

div.gallery:hover {
  border: 2px solid #b8e1dd; }

div.gallery img {
  width: 100%;
  height: auto;
  background-color: #111; }

div.desc {
  padding: 15px;
  text-align: center;
  font-weight: bold;
  font-size: 12px; }

.toolContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

div.tool {
  margin: 5px;
  border: 1px solid #e9ecef;
  float: left;
  width: 180px; }

div.tool:hover {
  border: 2px solid #b8e1dd; }

div.tool img {
  width: 100%;
  height: auto; }

div.desc {
  padding: 15px;
  text-align: center; }

div.too1Container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 80vh; }

div.tool1Desc {
  width: 100%;
  height: 100px;
  text-align: center;
  margin: auto; }

.tool1Left {
  width: 30%; }

.tool1Right {
  width: 70%; }

.navbar-collapse {
  flex-grow: initial; }

.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand:hover {
  border-radius: 25px;
  color: #b8e1dd; }

.active {
  border: 2px solid #0e7a70;
  padding: 10px;
  border-radius: 25px; }

.sticky-top {
  /* Se deshabilita el sticky por default de bootstrap para las versiones mobile/ipad */
  position: relative; }

.indexBackground {
  background-image: url("../media/seamless2.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: repeat;
  display: flex;
  flex-direction: row;
  justify-content: center; }

.indexBackgroundText {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  font-weight: bold;
  border: 3px solid #e9ecef;
  position: absolute;
  width: 80%;
  padding: 20px;
  margin: 10px;
  text-align: center;
  animation: myAnim 1s ease 0s 1 normal forwards; }

.indexTitle {
  font-size: 10vw;
  font-family: "Cinzel Decorative"; }

.indexSubTitle {
  font-size: 4vw;
  font-family: "Cinzel Decorative";
  font-weight: normal;
  margin-bottom: 10px; }

.jumbotron {
  padding: 0;
  margin-bottom: 0;
  border-radius: 0.3rem; }

@media screen and (min-width: 768px) {
  .logo {
    width: 120px;
    height: 120px; }
  ul li {
    float: left; }
  .indexTitle {
    font-size: 6vw; }
  .indexSubTitle {
    font-size: 3vw; }
  .sticky-top {
    position: sticky; } }

@media screen and (min-width: 1024px) {
  .logo {
    width: 150px;
    height: 150px; }
  ul li {
    float: left; }
  .indexTitle {
    font-size: 5vw; }
  .indexSubTitle {
    font-size: 2vw; } }

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 4px 4px; }

.column {
  flex: 25%;
  max-width: 33.3%;
  padding: 0 4px; }

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
  filter: grayscale(1) brightness(0.5);
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s linear; }

.column img:hover {
  filter: grayscale(0); }

@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%; } }

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%; }
  .column img {
    filter: grayscale(0) brightness(1); } }

@keyframes myAnim {
  0% {
    transform: scale(0.5);
    transform-origin: 50% 100%; }
  100% {
    transform: scale(1);
    transform-origin: 50% 100%; } }

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.card {
  background-color: #e9ecef; }

.bounceIn {
  -webkit-animation-name: bounceIn;
  animation-name: bounceIn;
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

.toolIcon {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 15rem;
  height: 15rem; }

.clean-bg {
  background-color: #e9ecef; }

@-webkit-keyframes bounceIn {
  0%,
  20%,
  40%,
  60%,
  80%,
  100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3); }
  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1); }
  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9); }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03); }
  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
    transform: scale3d(0.97, 0.97, 0.97); }
  100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); } }

@keyframes bounceIn {
  0%,
  20%,
  40%,
  60%,
  80%,
  100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3); }
  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1); }
  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9); }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03); }
  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
    transform: scale3d(0.97, 0.97, 0.97); }
  100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); } }
