h1 {
    font-size: 30px;
    @include sizes-font(map-get($screen-size, tablet), 40px);
    @include sizes-font(map-get($screen-size, desktop), 50px);
}

.responsive-p {
    font-weight: none;
    font-size: 13px;
    @include sizes-font(map-get($screen-size, tablet), 16px);
    @include sizes-font(map-get($screen-size, desktop), 18px);
}

.input-search {
    height: 1.5rem;
    font-family: "Ubuntu";
    font-size: 1.5vh;
    @include sizes-font(map-get($screen-size, desktop), 1.7vh);
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 4px solid map-get($pallet, color-five);
    background-color: map-get($pallet, color-one);
    border-radius: 50%;
    @include sizes(90px, 90px);
    @include sizes-logo(map-get($screen-size, tablet));
    @include sizes-logo(map-get($screen-size, desktop));
}

.logoBackground {
    background-color: map-get($pallet, color-one);
    background-color: map-get($pallet, color-five);
    padding: 10px;
}

ul {
    list-style-type: none;
    background-color: map-get($pallet, color-five);
    display: inline-block;
    text-align: center;
    vertical-align: center;
}

ul li {
    float: none;
}

li a {
    display: block;
    color: map-get($pallet, color-one);
    text-align: center;
    padding: 2px 40px;
    text-decoration: none;
    overflow: hidden;
    border-radius: 25px;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    &:hover {
        background-color: map-get($pallet, color-four);
        color: map-get($pallet, color-two);
    }
}

body {
    background-color: map-get($pallet, color-one);
    font-family: "Ubuntu";
    min-height: 100vh;
}

.company {
    text-align: center;
    color: map-get($pallet, color-two);
}

.container {
    border-radius: 5px;
    padding: 2vh 2vh;
    @include tb-lr-padding(map-get($screen-size, tablet), 5vh, 3vh);
    @include tb-lr-padding(map-get($screen-size, desktop), 10vh, 4vh);
}

.containerCenter {
    justify-content: center;
}

label {
    color: map-get($pallet, color-one);
}

input[type="submit"] {
    background-color: map-get($pallet, color-three);
    color: map-get($pallet, color-one);
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    &:hover {
        background-color: map-get($pallet, color-four);
    }
}

.material-icons {
    vertical-align: middle;
}

.navbar {
    background-color: map-get($pallet, color-five);
    font-family: "Cinzel Decorative";
}

.navbar-buttons {
    justify-content: center;
}

.collapse:not(.show) {
    display: block;
}

.navbar-light .navbar-brand {
    color: map-get($pallet, color-one);
    margin: 0px 10px;
    padding: 0px 30px;
    font-size: 1rem;
}

.navbar-brand {
    display: inherit;
    border: 2px solid map-get($special-pallet, transparency-full);
}

a:not([href]):hover {
    color: map-get($pallet, color-three);
    text-decoration: none;
}

.card {
    border: transparent;
    background-color: map-get($pallet, color-one);
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

    &:hover {
        border: 2px solid map-get($pallet, color-three);
        background-color: map-get($pallet, color-two);
    }
}

.navbar-collapse {
    flex-grow: initial;
}

.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand:hover {
    border-radius: 25px;
    color: map-get($pallet, color-two);
}

.active {
    border: 2px solid map-get($pallet, color-three);
    padding: 0px 30px;
    border-radius: 25px;
}

.sticky-top {
    position: relative;
}
