.searchContainer button {
    float: left;
    padding: 2px 4px;
    background: #ccc;
    font-size: 14px;
    margin: 5px;
    border: #111;
}

// .searchContainer input[type="text"] {
//     border: 1px solid rgb(204, 188, 219);
//     font-size: 16px;
//     margin-top: 5px;
//     margin-bottom: 5px;
//     width: 30%;
//     justify-content: flex-start;
// }

// .searchContainer button:hover {
//     background: $color-two;
// }

// .searchContainer {
//     background-color: $color-five;
// }

.input-search {
    height: 1.5rem;
    font-family: "Ubuntu";
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 4px solid $color-five;
    background-color: $color-one;
    border-radius: 50%;
    width: 90px;
    height: 90px;
}

.logoBackground {
    background-color: $color-one;
    padding: 10px;
}

ul {
    list-style-type: none;
    overflow: hidden;
    background-color: $color-five;
    display: inline-block;
    text-align: center;
    vertical-align: center;
}

ul li {
    float: none;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 2px 40px;
    text-decoration: none;
    overflow: hidden;
    border-radius: 25px;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

li a:hover {
    background-color: $color-four;
}

body {
    background-color: white;
    font-family: "Ubuntu";
    min-height: 100vh;
}

.company {
    text-align: center;
    color: $color-two;
}

.principal {
    padding-top: 20px;
    margin-top: 30px;
}

.container {
    border-radius: 5px;
    padding: 20px;
}

.contactContainer {
    text-align: center;
    margin: auto;
    width: 35%;
}

.containerCenter {
    justify-content: center;
}

label {
    color: white;
}

input[type="submit"] {
    background-color: $color-three;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: $color-four;
}

.btn-dark {
    color: #fff;
    background-color: $color-three;
    border-color: $color-three;
}

.btn-search {
    background-color: transparent;
    padding: 0.1rem;
    border-radius: 25%;
    border-color: $color-five;
}

.btn-search:hover {
    background-color: $color-four;
    color: #b8e1dd;
    color: $color-two;
}

.material-icons {
    vertical-align: middle;
}

.navbar {
    background-color: $color-five;
    font-family: "Cinzel Decorative";
}

.navbar-buttons {
    justify-content: center;
}

.collapse:not(.show) {
    display: block;
}

.navbar-light .navbar-brand {
    color: $color-one;
    margin: 0px 10px;
    padding: 0px 30px;
    font-size: 1rem;
}

.navbar-brand {
    display: inherit;
    border: 2px solid $transparent;
}

a:not([href]):hover {
    color: $color-three;
    text-decoration: none;
}

.card:hover {
    border: 2px solid $color-three;
}

.galeryContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

div.gallery {
    margin: 5px;
    border: 1px solid $color-one;
    float: left;
    width: 180px;
    background-color: $color-two;
}

div.gallery:hover {
    border: 2px solid $color-two;
}

div.gallery img {
    width: 100%;
    height: auto;
    background-color: #111;
}

div.desc {
    padding: 15px;
    text-align: center;
    font-weight: bold;
    font-size: 12px;
}

.toolContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

div.tool {
    margin: 5px;
    border: 1px solid $color-one;
    float: left;
    width: 180px;
}

div.tool:hover {
    border: 2px solid $color-two;
}

div.tool img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

div.too1Container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 80vh;
}

div.tool1Desc {
    width: 100%;
    height: 100px;
    text-align: center;
    margin: auto;
}

.tool1Left {
    width: 30%;
}

.tool1Right {
    width: 70%;
}

.navbar-collapse {
    flex-grow: initial;
}

.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand:hover {
    border-radius: 25px;
    color: $color-two;
}

.active {
    border: 2px solid $color-three;
    padding: 10px;
    border-radius: 25px;
}

.sticky-top {
    /* Se deshabilita el sticky por default de bootstrap para las versiones mobile/ipad */
    position: relative;
}
