.indexBackground {
    background-image: url("../media/indexbg.svg");
    height: 70vh;
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    @include sizes-indexBg(map-get($screen-size, tablet));
    @include sizes-indexBg(map-get($screen-size, desktop));
}

.indexBackgroundText {
    background-color: $color-index-bg-text;
    color: map-get($pallet, color-one);
    border: 3px solid map-get($pallet, color-one);
    position: absolute;
    width: 80%;
    padding: 20px;
    margin: 10px;
    text-align: center;
    animation: myAnim 1s ease 0s 1 normal forwards;
}

.indexTitle {
    font-family: "Cinzel Decorative";
    font-size: 10vw;
    @include sizes-font(map-get($screen-size, tablet), 7vw);
    @include sizes-font(map-get($screen-size, desktop), 500%);
}

.indexSubTitle {
    font-family: "Cinzel Decorative";
    font-weight: normal;
    margin-bottom: 10px;
    font-size: 4vw;
    @include sizes-font(map-get($screen-size, tablet), 3vw);
    @include sizes-font(map-get($screen-size, desktop), 2vw);
}
