.indexBackground {
    background-image: url("../media/seamless.jpg");
    height: 100vh;
    background-position: center;
    background-repeat: repeat;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.indexBackgroundText {
    background-color: $color-index-bg-text;
    color: map-get($pallet, color-one);
    font-weight: bold;
    border: 3px solid map-get($pallet, color-one);
    position: absolute;
    width: 80%;
    padding: 20px;
    margin: 10px;
    text-align: center;
    animation: myAnim 1s ease 0s 1 normal forwards;
}

.indexTitle {
    font-size: 10vw;
    font-family: "Cinzel Decorative";
}

.indexSubTitle {
    font-size: 4vw;
    font-family: "Cinzel Decorative";
    font-weight: normal;
    margin-bottom: 10px;
}
