// Principales
$color-one: #e9ecef;
$color-two: #b8e1dd;
$color-three: #0e7a70;
$color-four: #044a42;
$color-five: #081c15;
// Lil feat. 
$color-index-bg-text: rgba(0, 0, 0, 0.8);
$form-background: rgba(6, 41, 37, 0.9);
$transparent: rgba(255, 255, 255, 0);
