// Principales
$pallet: ( 
    color-one: #e9ecef,
    color-two: #b8e1dd,
    color-three: #0e7a70,
    color-four: #044a42,
    color-five: #081c15,
    );

$special-pallet: (
    color-error: #721c24,
    transparency-full: rgba(0, 0, 0, 0),
    transparency-one: rgba(0, 0, 0, 0.8),
    transparency-two: rgba(0, 0, 0, 0.8),
    green-transparency-two: rgba(6, 41, 37, 0.8),
);

$input: ( 
    color-active: rgb(49, 49, 49),
    color-inactive: grey,
    );
    
$screen-size: (
    desktop: 1024px,
    tablet: 768px,
    mobile: 576px
    );