footer {
    background-color: map-get($pallet, color-five);
    width: 100%;
    margin-top: auto;
}

p.footerlinks {
    font-size: 12px;
    padding: 10px;
}

.footerLinks a {
    color: map-get($pallet, color-two);
    text-decoration: none;
    padding: 5px 10px;
}

.footerContainer {
    padding: 10px 20px;
    font-size: 12px;
}

.footerLinks a:hover {
    color: map-get($pallet, color-three);
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.footer-ext {
    background-size: cover;
    height: 13vh;
    background-image: url("../media/footerextbg.svg");
}
