footer {
    background-color: $color-five;
    width: 100%;
    margin-top: auto;
}

.footerlinks {
    padding: 10px;
}

.footerLinks a {
    color: $color-two;
    text-decoration: none;
    padding: 5px 10px;
}

.footerContainer {
    padding: 10px 20px;
    font-size: 12px;
}

.footerLinks a:hover {
    color: $color-three;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
