.form {
    border: 3px solid map-get($pallet, color-one);
    background-color: $form-background;
    padding: 10px;
    border-radius: 10px;
}

.form-control {
    margin-right: 1rem;
}

.form-control:focus {
    color: #495057;
    background-color: map-get($pallet, color-one);
    outline: 0;
    box-shadow: 0 0 0 0.2rem map-get($pallet, color-three);
}

.form-inline {
    flex-flow: row-reverse;
}
