.form {
    border: 3px solid map-get($pallet, color-one);
    background-color: $form-background;
    padding: 10px;
    border-radius: 10px;
}

.form-control {
    margin-right: 1rem;
    &:focus {
        color: map-get($pallet, color-five);
        background-color: map-get($pallet, color-two);
        outline: 0;
        box-shadow: 0 0 0 0.2rem transparent;
    }
}

.form-inline {
    flex-flow: row-reverse;
}

.newform {
    padding: 30px;
    background: map-get($pallet , color-five);
    border-radius: 10px;
}

.newform input {
    @include sizes(100%, 100%);
    border: none;
    color: map-get($pallet , color-four);
    padding-top: 20px;
    outline: none;
}

.newform select {
    @include sizes(100%, 100%);
    color: map-get($pallet , color-five);
    border: none;
    color: map-get($pallet , color-four);
    padding-top: 20px;
    outline: none;
}

.newform label {
    position: absolute;
    margin: 0px;
    bottom: 0px;
    @include sizes(100%, 100%);
    pointer-events: none;
    overflow: hidden;
}

.newform label::after {
    content: "";
    position: absolute;
    left: 0px;
    bottom: -1px;
    border-bottom: 3px solid map-get($pallet, color-three);
    transform: translateX(-100%);
    @include sizes(100%, 100%);
    @include transition-one;
    overflow: hidden;
}

.content-name {
    position: absolute;
    bottom: 5px;
    color: map-get($input, color-inactive);
    left: 5px;
    @include transition-one;
}

.newform input:focus + .label-name .content-name, 
.newform input:valid + .label-name .content-name,
.newform select:focus + .label-name .content-name, 
.newform select:valid + .label-name .content-name {
    transform: translateY(-100%);
    font-size: 12px; 
    color: map-get($pallet , color-three);
}

.newform input:focus + .label-name::after,
.newform input:valid + .label-name::after,
.newform select:focus + .label-name::after, 
.newform select:focus + .label-name::after  {
    transform: translateX(-0.6rem);
}

