.dropdown-item {
    color: map-get($pallet , color-one);
}
.dropdown-menu {
    padding: 5px 10px;
    margin-left: 30px;
    margin-top: 10px;
    left: auto;
    background: #98a3a785;
    font-family: "Ubuntu";
    &:focus,
    :hover {
        text-decoration: none;
        color: map-get($pallet , color-two);
        background-color: map-get($pallet , color-four)
    }
}

// .dropdown-item:focus, .dropdown-item:hover {
//     color: #16181b;
//     text-decoration: none;
//     background-color: #f8f9fa;
// }